<section class="hero is-dark is-fullheight">
  <div class="hero-body" id="hero_picture">
    <div class="container has-text-centered is-dark">
      <a class="is-pulled-right" href="#eat_a_burger" id="down_arrow">
        <i class="fas fa-arrow-down fa-3x"></i>
      </a>
    </div>
  </div>
</section>
<br>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-11" id="tile">
    <div class="tile is-parent">
      <article class="tile is-child notification is-dark">
        <p class="title banana" id="eat_a_burger">HAVE SOME BURGERS</p>
        <div class="hero-body">
          <section>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box notification is-light">
                  <h2>Burgers on your plate</h2>
                  <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                    {{/unless}}
                    {{/each}}
                  </ul>

                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box notification is-light">
                  <h1>Add a new burger to your plate</h1>
                  <form class="create-form">

                    <div class="form-group">
                      <label for="ca"></label>
                      <input class="input is-medium is-info" type="text" id="ca" name="name" placeholder="Add your favorite burger . . .">
                    </div>
                    <br>
                    <button class="button is-link is-outlined is-small"type="submit" name="devoured">Add Burger</button>
                  </form>

                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box notification is-light">
                  <h2>Burgers in your BELLEY</h2>
                  <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devoured=false}}
                    {{/if}}
                    {{/each}}
                  </ul>
                </article>
              </div>
            </div>
          </section>
        </div>
      </article>
    </div>
  </div>
</div>
