<li>
	{{name}}

	<button class="change-devoured button is-link is-outlined is-small" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}Still Hungry{{else}}Devoured{{/if}}
	</button>

	
</li>
